{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Flasky - Index{% endblock %}
{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    {% endfor %}
    <div class="page-header">
        <h1>Hello, {% if name %}{{ name }}{% else %} Stranger {% endif %} !</h1>
        <p>The local date and time is {{ moment(current_time).format('YYYY-MM-DD HH:mm:ss') }}.</p>
        {% if not known %}
            <p>Pleased to meet you!</p>
        {% else %}
            <p>Happy to see you again!</p>
        {% endif %}
        {{ wtf.quick_form(form) }}
    </div>
</div>
{% endblock %}