{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
Index -- by su
{% endblock %}

{% block content %}
<div class="container">
{% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        {{ message }}<button type="button" class="close" data-dismiss="alert">×</button>
    </div>
{% endfor %}
<h2>Welcome ...
    <a type="button" class="btn btn-primary">{{ name }}</a>
</h2>

{{ wtf.quick_form(form,horizontal_columns=('lg',2,3)) }}

</div>
{% endblock %}