{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
    Index -- by su
{% endblock %}

{% block content %}
    {{ super() }}
    <div class="container">



        <h1>Hello,
            {% if current_user.is_authenticated %}
                {{ current_user.username }}
            {% else %}
                Stranger
            {% endif %}
        </h1>
        {% if known %}
            <p>Pleased to meet you!</p>
        {% else %}
            <p>Happy to see you again!</p>
        {% endif %}

        <div class="col-sm-6">
            {{ wtf.quick_form(form) }}
        </div>

    </div>
{% endblock %}